.grow-favourites-carousel {
	padding: 5.5rem 3rem;

	@media only screen and (max-width: 1048px) {
		padding: 2.625rem 3rem;
    }

	@media only screen and (max-width: 768px) {
		padding: 2rem 1.7rem 0;
	}
	
	.grow-carousel-buttons {
		position: absolute;
		top: calc(50% - 1rem);
		z-index: 1;
		border-color: transparent;
		background-color: transparent;
		font-size: 1.2rem;
		color: #272833;

		@media only screen and (max-width: 768px) {
			top: calc(50% - 2rem);
		}
	}

	.grow-carousel-buttons:focus {
		outline: none;
	}

	.grow-favourites-carousel-button-back {
		left: 1rem;

		@media only screen and (max-width: 768px) {
			left: 0;
		}
	}

	.grow-favourites-carousel-button-next {
		right: 1rem;

		@media only screen and(max-width: 768px) {
			right: 0;
		}
	}
	
	.grow-favourites-slide {
		font-size: inherit;
	}
}

.grow-favourites-slider {
	height: 32rem;

	@media only screen and(max-width: 768px) {
		height: 36rem;
	}
}
